.square {
  width: 100px;
  height: 100px;
  background-color: rgb(243, 255, 12);
  border: 1px solid #222222;
  cursor: pointer;
  outline: none;
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.square:hover {
  background-color: #345400;
  color: white;
  transition: 0.7s all ease;
}
